In [20]:
import pandas as pd 
import fuzzywuzzy
from fuzzywuzzy import fuzz
import numpy as np
import sklearn
from sklearn.utils import shuffle

In [37]:
d1 = pd.read_csv("ones_file.csv")
print(len(d1))

304

In [38]:
#d1.drop('Unnamed:0', axis = 1)

In [39]:
print(d1.columns)
print(len(d1.columns))

Index(['given_name_A', 'surname_A', 'street_number_A', 'address_1_A',
       'address_2_A', 'suburb_A', 'postcode_A', 'state_A', 'date_of_birth_A',
       'soc_sec_id_A', 'given_name_B', 'surname_B', 'street_number_B',
       'address_1_B', 'address_2_B', 'suburb_B', 'postcode_B', 'state_B',
       'date_of_birth_B', 'soc_sec_id_B', 'match'],
      dtype='object')
21

In [40]:
d2 = pd.read_csv("zeros_file.csv")
print(len(d2))

10019

In [41]:
print(d2.columns)
print(len(d2.columns))

Index(['given_name_A', 'surname_A', 'street_number_A', 'address_1_A',
       'address_2_A', 'suburb_A', 'postcode_A', 'state_A', 'date_of_birth_A',
       'soc_sec_id_A', 'given_name_B', 'surname_B', 'street_number_B',
       'address_1_B', 'address_2_B', 'suburb_B', 'postcode_B', 'state_B',
       'date_of_birth_B', 'soc_sec_id_B', 'match'],
      dtype='object')
21

In [42]:
d3 = pd.read_csv("zeros_file_2.csv")
print(len(d3))

1000

In [43]:
print(d3.columns)
print(len(d3.columns))

Index(['given_name_A', 'surname_A', 'street_number_A', 'address_1_A',
       'address_2_A', 'suburb_A', 'postcode_A', 'state_A', 'date_of_birth_A',
       'soc_sec_id_A', 'given_name_B', 'surname_B', 'street_number_B',
       'address_1_B', 'address_2_B', 'suburb_B', 'postcode_B', 'state_B',
       'date_of_birth_B', 'soc_sec_id_B', 'match'],
      dtype='object')
21

In [44]:
d0 = pd.concat([d2,d3])

In [45]:
df = shuffle(d0)
df = df.iloc[:700,:]

In [46]:
dataset = pd.concat([d1,df])
dataset = shuffle(dataset)

In [47]:
dataset.to_csv("final_dataset.csv" , index = False)

In [48]:
dataset = dataset.fillna("xxxxxxxx")

In [49]:
dataset.head()

,given_name_A,surname_A,street_number_A,address_1_A,address_2_A,suburb_A,postcode_A,state_A,date_of_birth_A,soc_sec_id_A,...,surname_B,street_number_B,address_1_B,address_2_B,suburb_B,postcode_B,state_B,date_of_birth_B,soc_sec_id_B,match
291,harrison,george,xxxxxxxx,woronora street,south melbourne market,kangaroo flat,2450,nsw,1.93701e+07,3711821,...,george,xxxxxxxx,woronoar street,south melbourne market,kangaroo flat,2450,nsw,1.93701e+07,3711821,1
124,zachary,white,97,witt place,villa 74,laurieton,2206,vic,xxxxxxxx,8708647,...,webb,97,witt place,xxxxxxxx,laurieton,2206,vic,xxxxxxxx,8708647,1
8297,jack,steinert,61,french street,meadows estate,adamstown,4350,vic,1.94607e+07,3691990,...,ryan,22,echo place,folsocit,loganohlme,2749,wa,1.94001e+07,1449566,0
8501,xxxxxxxx,kowald,3,hindmarsh drive,green desert,greenwood,2016,sa,1.94401e+07,8957090,...,mcigrr,1170,graham street,hopedield,yangebup,3414,vic,1.90607e+07,7139205,0
3661,benjamin,blake,11,tantangara street,summit cottage,oaklands park,2640,wa,1.92709e+07,6285591,...,miles,xxxxxxxx,totterdell street,poplar bend,acton,6317,qld,1.98303e+07,4385595,0

In [50]:
print(sum(dataset["match"]==1))
print(sum(dataset["match"]==0))

304
700