In [26]:
import pandas as pd 
import fuzzywuzzy
from fuzzywuzzy import fuzz
import numpy as np
import sklearn
from sklearn.utils import shuffle

import recordlinkage
from recordlinkage.datasets import load_febrl4

In [27]:
dfA, dfB = load_febrl4()
print(len(dfA))
print(len(dfB))
print(dfA.columns)

5000
5000
Index(['given_name', 'surname', 'street_number', 'address_1', 'address_2',
       'suburb', 'postcode', 'state', 'date_of_birth', 'soc_sec_id'],
      dtype='object')

In [28]:
zeros_data = []

In [29]:
def create_zeros_data(start,end) :
    df1 = dfA.iloc[start:end,:]
    df2 = dfB.iloc[start:end,:]
    
    data = []
    #data1 = []

    for i in range(500) :
        l = []
        #l1=[]
        a = list(df1.iloc[i,:])
        for j in range(500) :
            l = []
            l.extend(a)
            b = list(df2.iloc[j,:])
            if((fuzz.token_set_ratio(a[0],b[0]) < 80.0) and (fuzz.token_set_ratio(a[1],b[1]) < 80.0)) :
                l.extend(b)
                data.append(l)

                
    
    data = pd.DataFrame(data)
    #data1 = pd.DataFrame(data1)
    data.columns = ['given_name_A', 'surname_A', 'street_number_A', 'address_1_A', 'address_2_A','suburb_A', 'postcode_A', 'state_A', 'date_of_birth_A', 'soc_sec_id_A','given_name_B', 'surname_B', 'street_number_B', 'address_1_B', 'address_2_B','suburb_B', 'postcode_B', 'state_B', 'date_of_birth_B', 'soc_sec_id_B']
    data.to_csv("zd.csv" , index=False)
    
    d1 = pd.read_csv("zd.csv")
    
    
    def dob_conv(dob) :
        k=str(dob)
        
        return k
    
    d1["street_number_A"] = d1["street_number_A"].apply(dob_conv)
    d1["street_number_B"] = d1["street_number_B"].apply(dob_conv)
    
    d1["date_of_birth_A"] = d1["date_of_birth_A"].apply(dob_conv)
    d1["date_of_birth_B"] = d1["date_of_birth_B"].apply(dob_conv)
    
    d1["given_name_A"] = d1["given_name_A"].apply(dob_conv)
    d1["given_name_B"] = d1["given_name_B"].apply(dob_conv)
    
    d1["surname_A"] = d1["surname_A"].apply(dob_conv)
    d1["surname_B"] = d1["surname_B"].apply(dob_conv)
    
    d1["address_1_A"] = d1["address_1_A"].apply(dob_conv)
    d1["address_1_B"] = d1["address_1_B"].apply(dob_conv)
    
    
    d1["address_2_A"] = d1["address_2_A"].apply(dob_conv)
    d1["address_2_B"] = d1["address_2_B"].apply(dob_conv)
    
    d1["suburb_A"] = d1["suburb_A"].apply(dob_conv)
    d1["suburb_B"] = d1["suburb_B"].apply(dob_conv)
    
    d1["state_A"] = d1["state_A"].apply(dob_conv)
    d1["state_B"] = d1["state_B"].apply(dob_conv)
    
    labels = [0]*len(d1)
    
    d1["match"] = labels
    
    

    for i,r in d1.iterrows() :
        if(r["match"] == 0) :
            zeros_data.append(r)

    z = zeros_data  
        
    return z

In [30]:
for i in range(0,5000,1000):
    c = create_zeros_data(i+200,i+700)

In [31]:
len(zeros_data)

1237275

In [32]:
zeros_data = shuffle(zeros_data)

In [33]:
zeros_data = pd.DataFrame(zeros_data)

In [34]:
zeros_data.head()

,given_name_A,surname_A,street_number_A,address_1_A,address_2_A,suburb_A,postcode_A,state_A,date_of_birth_A,soc_sec_id_A,...,surname_B,street_number_B,address_1_B,address_2_B,suburb_B,postcode_B,state_B,date_of_birth_B,soc_sec_id_B,match
58466,mackenzie,sherriff,34.0,pirani place,nan,scarborough,2094,nsw,19610123.0,8088200,...,stagoll,65.0,tyson street,bypass road,cleveland,3150,nsw,19190521.0,3941516,0
193087,kyle,clarke,19.0,archibald street,little forest,florey,4109,qld,19380419.0,6477305,...,ryan,5.0,wheeler crescent,melrose clinic,cooaroo,3198,nsw,19581209.0,8497762,0
130926,maxin,tchung,10.0,pullen street,emmaus vlge,cabarlah,3620,qld,19060604.0,6340831,...,champion de crespign,8.0,deuchar lcose,lanena lodge,ryde,3181,qld,19230403.0,3235310,0
186650,ethan,mccombe,624.0,mcnamara street,copely,tailem bend,4740,wa,19020126.0,1088335,...,karlovcec,5.0,alberga street,nan,eastern heights,3228,nsw,19250114.0,9531225,0
46471,ruby,hentze,30.0,harkness street,glenearra,florey,4178,sa,19030606.0,2379739,...,wilde,13.0,cumberleg ecrescent,nan,bourke,4740,qld,19260702.0,7889277,0

In [35]:
zeros_data = zeros_data.iloc[0:1000,:]

In [36]:
zeros_data.to_csv("zeros_file_2.csv" , index = False)

In [37]:
len(zeros_data)

1000